# maven files
/*/target

# test logs
test-output
messages.log

# IDEA files
.idea
*.iml
*.ipr
*.iws
/target
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
examples/.settings/org.eclipse.jdt.core.prefs
examples/.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
examples/.settings/.jsdtscope
examples/.settings/org.eclipse.m2e.core.prefs
examples/.settings/org.eclipse.wst.common.component
examples/.settings/org.eclipse.wst.jsdt.ui.superType.container
examples/.settings/org.eclipse.wst.jsdt.ui.superType.name
examples/.settings/org.eclipse.wst.validation.prefs
